<?xml version="1.0"?>
<projectconfig>
  <conifiguration>
    <add>
      <environmentName value="developer" />
      <serverNames value="wswaw2d134;wswaw2n200;desktop-86j964i;mojkomputer;wswaw2d345;desktop-vielacr;wswaw2d346;desktop-4fdg4p8;wswaw2n181;wswaw2n167;WSWAW2D136;michalmietlinsk;wswaw2d317;WSWAW2N522;wswaw2n095"/>
      <connectionString value="Data Source=10.48.192.96\SQL2014,1453; Initial Catalog=polregio; Integrated Security=False; User ID=polregio;Password=polregio; MultipleActiveResultSets=True"/>
      <custom>
        <add name="IsSSLEnabled" value="false"/>
        
        <add name="smtp_server" value="localhost" />
        <add name="smtp_port" value="25" />
        <add name="smtp_email_from_bip" value="bip@p-r.com.pl" />
        <add name="smtp_email_from_register" value="noreply@p-r.com.pl" />
        <add name="smtp_user_name" value="" />
        <add name="smtp_user_password" value="" />
        <add name="smtp_enable_ssl" value="" />
        
        <add name="salesmanago_owner_mail" value="sm.admin@p-r.com.pl" />
        <add name="salesmanago_client_id" value="3t2jb7ad8bapnkc8" />
        <add name="salesmanago_api_key" value="jfjmtyz60gct8tylszitnqfygmlh7t41" />
        <add name="salesmanago_api_secret" value="u0o1k3ntd4jveulzdxxg9f1ny7uxhi44" />
        <add name="salesmanago_offers_frame" value="https://www.salesmanago.pl/ms/3t2jb7ad8bapnkc8/default/Ramka_po_tagach.htm?contactId={0}" />
        
        <add name="use_local_files" value="true" />
        <add name="useCDN" value="false" />
        <add name="cdnDomain" value="" />
        <!--ISS system-->
        <add name="iss_system_url" value="https://www.biletyregionalne.pl/ext/" />
        <add name="iss_system_cmp_id" value="109" />
        <add name="iss_system_cmp_hash" value="n2jEw7fP*r4nJk9dnFi1[Rgl" />
        <add name="mregioapi_url" value="https://mregioapi.i-pr.pl/api" />

        <!--Search ticket integrations-->
        <!--
        {0} - Stacja wyjazdu
        {1} - Stacja przjazdu
        {2} - Czas wyjazdu
        {3} - Data wyjazdu
        -->
        <add name="EPodroznikRedirectFormat" value="https://www.e-podroznik.pl/wyszukaj-polaczenia/polregio/{0}/{1}/{2:HH:mm}/{3:dd.MM.yyyy}"  />
        <add name="KoleoRedirectFormat" value="https://koleo.pl/search/{0}/{1}/{2:dd-MM-yyyy}_{3:HH}:00/all/ARRIVARP-EIC-EIP-IC-KD-KM-KML-KS-KW-LKA-LS-MR-SKMT-SKM-TLK-WKD--IR-REG?utm_medium=polregio"  />
        
      </custom>
    </add>
    <add>
      <environmentName value="test" />
      <serverNames value="v-nowellon"/>
      <connectionString value="Data Source=10.48.192.96\SQL2014,1453; Initial Catalog=polregio; Integrated Security=False; User ID=polregio;Password=polregio; MultipleActiveResultSets=True"/>
      <custom>
        <add name="IsSSLEnabled" value="false"/>

        <add name="smtp_server" value="febus.hyper" />
        <add name="smtp_port" value="25" />
        <add name="smtp_email_from_bip" value="bip@p-r.com.pl" />
        <add name="smtp_email_from_register" value="noreply@p-r.com.pl" />
        <add name="smtp_user_name" value="" />
        <add name="smtp_user_password" value="" />
        <add name="smtp_enable_ssl" value="" />

        <add name="salesmanago_owner_mail" value="sm.admin@p-r.com.pl" />
        <add name="salesmanago_client_id" value="3t2jb7ad8bapnkc8" />
        <add name="salesmanago_api_key" value="jfjmtyz60gct8tylszitnqfygmlh7t41" />
        <add name="salesmanago_api_secret" value="u0o1k3ntd4jveulzdxxg9f1ny7uxhi44" />
        <add name="salesmanago_offers_frame" value="https://www.salesmanago.pl/ms/3t2jb7ad8bapnkc8/default/Ramka_po_tagach.htm?contactId={0}" />

        
        <add name="use_local_files" value="true" />
        <add name="useCDN" value="false" />
        <add name="cdnDomain" value="" />
        <!--ISS system-->
        <add name="iss_system_url" value="https://www.biletyregionalne.pl/ext/" />
        <add name="iss_system_cmp_id" value="109" />
        <add name="iss_system_cmp_hash" value="n2jEw7fP*r4nJk9dnFi1[Rgl" />
        <add name="mregioapi_url" value="https://mregioapi.i-pr.pl/api" />

        <!--Search ticket integrations-->
        <!--
        {0} - Stacja wyjazdu
        {1} - Stacja przjazdu
        {2} - Czas wyjazdu
        {3} - Data wyjazdu
        -->
        <add name="EPodroznikRedirectFormat" value="https://www.e-podroznik.pl/wyszukaj-polaczenia/polregio/{0}/{1}/{2:HH:mm}/{3:dd.MM.yyyy}"  />
        <add name="KoleoRedirectFormat" value="https://koleo.pl/search/{0}/{1}/{2:dd-MM-yyyy}_{3:HH}:00/all/ARRIVARP-EIC-EIP-IC-KD-KM-KML-KS-KW-LKA-LS-MR-SKMT-SKM-TLK-WKD--IR-REG?utm_medium=polregio"  />

      </custom>
    </add>
  </conifiguration>
</projectconfig>