@inherits UmbracoViewPage<IEnumerable<PolRegio.Domain.Models.Components.Home.NewsBoxModel>>

@foreach (var news in Model)
{
    <li class="col-sm-6 col-md-3 js-list-item">
        @Html.Partial("Components/NewsBox", news)
    </li>
}