@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = PolRegio.Domain.Models.UmbracoCreate;
@{
    Layout = "Layout.cshtml";
}

<section class="hpm-section hpm-reg" id="hpm-reg" data-redirect='@Umbraco.GetDictionaryValue("Reset.Placeholder.Redirect")'>
    <div class="container">
    <div class="hpm-section--title row">
            <div class="col-xs-12">
                <h1 class="txtcenter">@Umbraco.GetDictionaryValue("Forgot.Placeholder.Title")</h1>
            </div>
        </div>

        <div class="hpm-reg__container hpm-reg__login">
            <div class="row">

                <div class="col-xs-12">
                    
                   
                    <section id="hpm-section-bipform-container" class="hpm-reg__content">
                        @Html.Action("RenderForgotPassForm", "PolRegioAccount")
                    </section>
                </div>
                </article>

            </div>
        </div>
</section>