@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.RegionalOffers>
@using ContentModels = PolRegio.Domain.Models.UmbracoCreate;
@{
	Layout = "Layout.cshtml";
}

<section class="hpm-section hpm-list hpm-offers">
    <div class="container">
        <div class="hpm-section--title row">
            <div class="col-xs-12">
                <h1 class="txtcenter">@Model.Content.SectionName</h1>
            </div>
        </div>
        <div id="hpm-section-boxes-container">
            @Html.Action("RenderRegionalArticleListBoxesPage", "PolRegioArticle")
        </div>
        <div class="row txtcenter hpm-js-load-more">
            <div class="col-xs-12 col-md-2 col-md-offset-5">
                <a href="javascript:void(0)" onclick="loadMoreRegionalArticles()" class="hpm-list--loadmore">@Umbraco.GetDictionaryValue("LoadMore.Button.Text") <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>

@section bottomScripts{
    <script type="text/javascript">
        checkIfShowLoadMoreButton();
    </script>
}