.hpm-faq{
	background-color: $polreg-gray;
	@include contrast-bgcolor($polreg-contrast-bg);
	@media (min-width: $grid-float-breakpoint) {
		min-height: 34vw;
	}
	>div>div>div>h1{
		margin: 1.22em 0 1.26em;
		@media (min-width: $grid-float-breakpoint) {
			margin: 3.8% auto 4%;
		}
	}
	.hpm-seemore{
		margin: 45px 0 50px;
	}
}
.hpm-accordion #accordion{
	margin: 0 auto;
	width: 100%;
	padding-bottom: 45px;
	@media (min-width: $grid-float-breakpoint) {
		width: 68.6%;
	}
	/* styling download file special for accordion */
	.hpm-single-article-download-file{
		>div:first-child{
			margin: 0;
			padding-bottom: 0;
			@include contrast-color($polreg-contrast-color);
			&+div~div{
				border-top: solid 1px $polreg-gray;
			}	
		}
		.hpm-single-article-download-file-info{
			padding-left: 0;
			+a{
				padding-right: 0;
			}
		}		
	}
	.panel-title{
		font-size: 19px;
	}
	.panel-body{
		font-size: 0.96em;
		@include contrast-bgcolor($polreg-contrast-bg);
		@media (min-width: $grid-float-breakpoint) {
			padding-left: 35px;
			padding-right: 35px;
		}
		@include contrast-color($polreg-contrast-color);
        p{
            font-size:1em;
        }
	}
	.panel-heading{
		padding: 0;
		font-size: 1.45em;
		a{
			color: $polreg-white;
			@include contrast-color($polreg-contrast-color);
			background-color: $polreg-darkgray2;
			@include contrast-bgcolor($polreg-contrast-bg);
			display: block;
			padding: 10px 65px 10px 15px;
			line-height: 1.7;
			position: relative;
			text-decoration: none;
			display: table;
			width: 100%;
			@media (min-width: $grid-float-breakpoint) {
				padding: 10px 65px 10px 20px;	
			}
			span{
				color: $polreg-white;
				@include contrast-color($polreg-contrast-color);
				display: table-cell;
				&:first-child{
					width: $padding-heading_02;
					padding-right: 0.3em;
					@media (min-width: $grid-float-breakpoint) {
						width: $padding-heading_02_d;
					}
				}
			}
			&:after{
				position: absolute;
				content: "-";
				display: block;
				width: 1em;
				height: 0.8em;
			    background-size: 100% auto;
			    background-position: top center;
			    right: 10px;
			    top: 50%;
				margin-top: -0.92em;
			    border: 0;
				font-size: 2.1em;
			    font-family: 'noto_regular';
			    font-weight: 900;
				color: $polreg-white;
				@include contrast-color($polreg-white);
				@media (min-width: $grid-float-breakpoint) {
					right: 20px;
				}
			}
			&.collapsed{
				padding-right: 65px;
				color: $polreg-darkgray2;
				@include contrast-color($polreg-contrast-color);
				background-color: $polreg-white;
				@include contrast-bgcolor($polreg-contrast-bg);
				span{
					color: $polreg-red;
					@include contrast-color($polreg-contrast-color);
				}
				&:after{
					content: "+";
					margin-top: -0.8em;
					color: $polreg-red;
					@include contrast-color($polreg-white);
				}
			}
		}
	}
}
