//* COLORS *//
/*----------*/
$polreg-darkgray: #6d757d;
$polreg-darkgray2: #57636b;
$polreg-gray: #ebebeb;
$polreg-gray2: #e7e8e8;
$polreg-lightgray: #f2f2f2;
$polreg-white: #fff;
$polreg-red: #e50000;
$polreg-darkred: #9e0000;
$polreg-orange: #f38c33;
$polreg-orange2: #f48c33; // cookies 
$polreg-darkblue: #344a85;
$polreg-blue: #1da1f2;
$polreg-black: #000;
$polreg-yellow: #FFFF00;
$polreg-facebook: #428bca;
$polreg-gplus: #c9302c;
$polreg-newgray:#abb1b5;
$bg-li-color: $polreg-lightgray;
$bg-menu-color: $polreg-white;
$bg-mainpage-color: $polreg-darkgray;



//* FONTS *//
/*---------*/
$font-regular: 'Noto Sans', Arial, sans-serif; 


//* GLOBAL *//
/*----------*/
$height-navbar--desktop: 3.1em;
$triangle-size-width: 6em;
$triangle-size-height: 7.9em;
$navbar-height--desktop: 3.67em;
$socialiconssize: 2.3em;
$socialiconssize--mobile: 2.6em;
$wcag-bar-height--mobile: 4.4em;
$wcag-bar-height: 3em;


$margin-left-single-article: 13.5%;
$margin-right-single-article: 12.5%;

//* contrast *//
$polreg-contrast-bg: $polreg-black;
$polreg-contrast-color: $polreg-yellow;

$contrast-bordercolor: $polreg-white;


//* accordion *//
$padding-heading_02: 1.2em;
$padding-heading_02_d: 1.2em;