<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <!-- 
		URLRewriting.net is obsolete and will be removed from Umbraco in the future.
		If you want to do rewrites, make sure to use IIS URL rewrite: https://www.iis.net/downloads/microsoft/url-rewrite
		The advantage of using IIS rewrite is that it is much faster, much less CPU intensive and much less memory intensive.
	-->
    <add name="login" virtualUrl="^~/login.aspx(.*)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="/" redirect ="Application" redirectMode ="Permanent" ignoreCase="true" />
    <add name="r_to_non_www" virtualUrl="^https?\://www\.polregio\.pl/(.*)?$"  rewriteUrlParameter="IncludeQueryStringForRewrite"  destinationUrl="https://polregio.pl/$1" redirect="Domain" redirectMode ="Permanent" ignoreCase="true"/>
    <add name="BIPtoBIP" virtualUrl="^https?:\/\/(bip\.)(.*)\/([a-z]{2})\/$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="http://bip.$2/$3/bip/" redirect ="Domain" redirectMode ="Permanent" ignoreCase="true" />
    <add name="toBIP" virtualUrl="^https?:\/\/(?!bip|localhost)(.*)\/([a-z]{2})\/bip(.*)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="https://bip.polregio.pl/$2/bip$3" redirect ="Domain" redirectMode ="Permanent" ignoreCase="true" />
    <add name="fromBIP" virtualUrl="^https?:\/\/(bip\.)(.*)\/([a-z]{2})\/(?!bip\/)(.*)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="https://$2/$3/$4" redirect ="Domain" redirectMode ="Permanent" ignoreCase="true" />
    <add name="r_to_cms_prod" virtualUrl="^http\://polregio.pl/umbraco/?$"  rewriteUrlParameter="IncludeQueryStringForRewrite"  destinationUrl="https://cms.polregio.pl/umbraco" redirect="Domain" redirectMode ="Permanent" ignoreCase="true"/>
    <add name="r_to_cms_prod_https" virtualUrl="^https\://polregio.pl/umbraco/?$"  rewriteUrlParameter="IncludeQueryStringForRewrite"  destinationUrl="https://cms.polregio.pl/umbraco" redirect="Domain" redirectMode ="Permanent" ignoreCase="true"/>
  </rewrites>
</urlrewritingnet>
